CREAMOS CELDAS INDIVIDUALES PARA TENER A GOLPE DE VISTA LO QUE VAMOS HACIENDO TODAS

Creamos una funci√≥n para elegir Scrum Master

In [1]:
import random

def elegir_finalista():
    candidatas = ["Yeri", "Ana", "Samai"]
    return random.choice(candidatas)

if __name__ == "__main__":
    print("La finalista es:", elegir_finalista())

La finalista es: Samai

In [1]:
import pandas as pd

df = pd.read_csv("ABC_data.csv", index_col = 0)

df

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,...,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,51,No,NaN,2015.722222,NaN,6,3,NaN,1,1,...,20,NaN,15,15,"16280,83$",1972,"195370,00$",NaN,NaN,Yes
1,52,No,NaN,2063.388889,NaN,1,4,Life Sciences,1,2,...,33,NaN,11,9,NaN,1971,"199990,00$",NaN,NaN,1
2,42,No,travel_rarely,1984.253968,Research & Development,4,2,Technical Degree,1,3,...,22,NaN,11,15,NaN,1981,"192320,00$",ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,1771.404762,NaN,2,4,Medical,1,4,...,20,NaN,5,6,"14307,50$",1976,"171690,00$",NaN,NaN,False
4,46,No,NaN,1582.771346,NaN,3,3,Technical Degree,1,5,...,19,NaN,2,8,"12783,92$",1977,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,43,No,NaN,488.944444,NaN,-26,3,Medical,1,824,...,3,NaN,1,2,"3949,17$",1980,NaN,NaN,NaN,Yes
1674,47,No,NaN,1973.984127,NaN,26,4,NaN,1,1087,...,5,NaN,1,0,"15943,72$",1976,"191324,62$",NaN,NaN,False
1675,29,No,travel_rarely,290.035510,NaN,15,3,NaN,1,528,...,6,NaN,1,5,NaN,1994,"28111,13$",NaN,NaN,False
1676,47,No,travel_rarely,1032.487286,NaN,4,3,Life Sciences,1,76,...,22,NaN,14,10,"8339,32$",1976,"100071,84$",NaN,NaN,Yes
1677,32,No,NaN,556.256661,NaN,2,2,Life Sciences,1,401,...,8,NaN,0,7,NaN,1991,"53914,11$",NaN,NaN,0

#### AN√ÅLISIS EXPLORATORIO DE DATOS

Este es un primer EDA sin haber tratado los nulos, las columnas redundantes y los resultados inconsistentes, por lo que si bien es una primera aproximaci√≥n de los datos que tenemos, los resultados reales podr√≠an estar bastante alejados de estos resultados. Es necesario en cada momento contextualizar las condiciones en las que se han obtenido los datos.

In [2]:
# importamos las librer√≠as que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
from IPython.display import display

# Imputaci√≥n de nulos usando m√©todos avanzados estad√≠sticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librer√≠as de visualizaci√≥n
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# ver todas las columnas
pd.set_option('display.max_columns', None)

In [4]:
# ver todas las filas
pd.set_option('display.max_rows', None)

In [6]:
df.head()

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,51,No,NaN,2015.722222,NaN,6,3,NaN,1,1,1,0,NaN,3,5,resEArch DIREcToR,3,NaN,"16280,83$","42330,17$",7,Y,No,13,"3,0",3,Full Time,0,NaN,5,"3,0",20,NaN,15,15,"16280,83$",1972,"195370,00$",NaN,NaN,Yes
1,52,No,NaN,2063.388889,NaN,1,4,Life Sciences,1,2,3,0,NaN,2,5,ManAGeR,3,NaN,NaN,"43331,17$",0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,NaN,1971,"199990,00$",NaN,NaN,1
2,42,No,travel_rarely,1984.253968,Research & Development,4,2,Technical Degree,1,3,3,0,NaN,3,5,ManaGER,4,Married,NaN,"41669,33$",1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,NaN,1981,"192320,00$",ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,1771.404762,NaN,2,4,Medical,1,4,1,1,NaN,3,4,ReseArCH DIrECtOr,3,Married,"14307,50$","37199,50$",3,Y,NaN,19,"3,0",2,Full Time,2,NaN,2,NaN,20,NaN,5,6,"14307,50$",1976,"171690,00$",NaN,NaN,False
4,46,No,NaN,1582.771346,NaN,3,3,Technical Degree,1,5,1,1,NaN,4,4,sAleS EXECUtIve,1,Divorced,"12783,92$","33238,20$",2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,"12783,92$",1977,NaN,NaN,NaN,0

Necesitamos hacer una copia del dataframe porque se van a convertir las columnas object que sean num√©ricas para realizar un EDA m√°s exacto.  Y queremos que nuestro dataframe de inicio quede intacto.

In [ ]:
import pandas as pd
import warnings

def limpiar_df(df):
    """
    Convierte autom√°ticamente columnas object que sean num√©ricas o fechas.
    Modifica el DataFrame recibido.
    Ignora warnings de pandas sobre inferencia de formato de fechas.
    """
    # Ignorar UserWarning de pandas
    warnings.filterwarnings("ignore", category=UserWarning)
    
    for col in df.select_dtypes(include='object').columns:
        # Intentar convertir a n√∫mero
        try:
            df[col] = pd.to_numeric(df[col], errors='raise')
            continue
        except:
            pass
        # Intentar convertir a fecha
        try:
            df[col] = pd.to_datetime(df[col], errors='raise', dayfirst=False)
        except:
            pass  # Si falla, dejamos como object (categ√≥rica)
    
    # Restaurar warnings
    warnings.resetwarnings()
    
    return df


# Crear copia
df_limpio = df.copy()

# Limpiar la copia
limpiar_df(df_limpio)

# Ahora df_limpio tiene columnas num√©ricas y fechas convertidas,
# y las columnas categ√≥ricas reales siguen siendo object

In [6]:
# Funci√≥n para EDA completo

def eda(df):
    """
    Realiza un an√°lisis exploratorio de datos sobre un DataFrame ya limpio:
    - Primeras filas
    - Dimensiones
    - Tipos de datos
    - Estad√≠sticas num√©ricas y categ√≥ricas
    - Valores nulos
    - Filas duplicadas
    - Valores √∫nicos
    - Distribuci√≥n de variables categ√≥ricas
    - Resumen general
    """
    print("AN√ÅLISIS EXPLORATORIO DE DATOS\n")

    print("Primeras 10 filas:")
    display(df.head(10))

    print("\nDimensiones:")
    print(df.shape)

    print("\nInformaci√≥n general:")
    df.info()

    print("\nTipos de datos por columna:")
    print(df.dtypes)

    # Columnas num√©ricas
    num_cols = df.select_dtypes(include='number').columns
    if len(num_cols) > 0:
        print("\nEstad√≠sticas num√©ricas:")
        display(df[num_cols].describe().T)

    # Columnas categ√≥ricas reales
    cat_cols = df.select_dtypes(include='object').columns
    if len(cat_cols) > 0:
        print("\nEstad√≠sticas categ√≥ricas:")
        display(df[cat_cols].describe())

    # Valores nulos
    print("\nValores nulos:")
    display(pd.DataFrame({
        "Conteo": df.isnull().sum(),
        "Porcentaje": (df.isnull().sum()/len(df)*100).round(2)
    }).sort_values(by="Porcentaje", ascending=False))

    # Filas duplicadas
    print("\nFilas duplicadas:", df.duplicated().sum())

    # Valores √∫nicos
    print("\nValores √∫nicos por columna:")
    display(df.nunique().sort_values(ascending=False))

    # Distribuci√≥n de variables categ√≥ricas
    for col in cat_cols:
        print(f"\nColumna: {col}")
        display(df[col].value_counts().head())

    # Resumen general
    resumen = pd.DataFrame({
        "Columna": df.columns,
        "Dtype": df.dtypes.astype(str),
        "Valores √∫nicos": df.nunique().values,
        "% Nulos": (df.isnull().sum()/len(df)*100).round(2).values
    })
    print("\nResumen general de columnas:")
    display(resumen)

    return resumen

In [7]:
# df_limpio es la copia, df original queda intacto
resumen = eda(df_limpio)   # Hacemos el EDA antes de eliminar columnas

AN√ÅLISIS EXPLORATORIO DE DATOS

Primeras 10 filas:

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,51,No,NaN,2015.722222,NaN,6,3,NaN,1,1,1,0,NaN,3,5,resEArch DIREcToR,3,NaN,"16280,83$","42330,17$",7,Y,No,13,"3,0",3,Full Time,0,NaN,5,"3,0",20,NaN,15,15,"16280,83$",1972,"195370,00$",NaN,NaN,Yes
1,52,No,NaN,2063.388889,NaN,1,4,Life Sciences,1,2,3,0,NaN,2,5,ManAGeR,3,NaN,NaN,"43331,17$",0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,NaN,1971,"199990,00$",NaN,NaN,1
2,42,No,travel_rarely,1984.253968,Research & Development,4,2,Technical Degree,1,3,3,0,NaN,3,5,ManaGER,4,Married,NaN,"41669,33$",1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,NaN,1981,"192320,00$",ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,1771.404762,NaN,2,4,Medical,1,4,1,1,NaN,3,4,ReseArCH DIrECtOr,3,Married,"14307,50$","37199,50$",3,Y,NaN,19,"3,0",2,Full Time,2,NaN,2,NaN,20,NaN,5,6,"14307,50$",1976,"171690,00$",NaN,NaN,False
4,46,No,NaN,1582.771346,NaN,3,3,Technical Degree,1,5,1,1,NaN,4,4,sAleS EXECUtIve,1,Divorced,"12783,92$","33238,20$",2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,"12783,92$",1977,NaN,NaN,NaN,0
5,48,No,NaN,1771.920635,Research & Development,22,3,Medical,1,6,4,1,NaN,3,4,MANAger,4,NaN,"14311,67$","37210,33$",3,NaN,No,11,"3,0",2,NaN,1,NaN,3,"3,0",22,NaN,4,7,"14311,67$",1975,NaN,MANAger - Research & Development,NaN,Yes
6,59,No,NaN,1032.487286,NaN,25,3,Life Sciences,1,7,1,1,NaN,3,3,Sales ExeCutIVe,1,NaN,"8339,32$","21682,23$",7,Y,NaN,11,"3,0",4,Part Time,0,"28,0",3,"2,0",21,NaN,7,9,"8339,32$",1964,"100071,84$",NaN,NaN,True
7,42,No,travel_rarely,556.256661,NaN,1,1,NaN,1,8,2,0,69.532083,3,2,Sales eXEcUTiVe,3,Married,NaN,"11681,39$",1,NaN,No,25,"4,0",3,Part Time,0,"20,0",3,"3,0",20,NaN,11,6,NaN,1981,"53914,11$",NaN,NaN,0
8,41,No,NaN,1712.182540,NaN,2,5,NaN,1,9,2,1,NaN,3,4,mANAGEr,1,Married,"13829,17$","35955,83$",7,NaN,No,16,"3,0",2,Full Time,1,"22,0",2,"3,0",18,NaN,11,8,"13829,17$",1982,"165950,00$",NaN,NaN,True
9,41,No,travel_frequently,1973.984127,NaN,9,3,NaN,1,10,1,0,NaN,3,5,reSEaRCH DIrectoR,3,NaN,"15943,72$","41453,67$",2,NaN,No,17,"3,0",2,NaN,1,"21,0",2,"4,0",18,NaN,0,11,"15943,72$",1982,NaN,NaN,NaN,0

Dimensiones:
(1678, 41)

Informaci√≥n general:
<class 'pandas.core.frame.DataFrame'>
Index: 1678 entries, 0 to 1677
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       1678 non-null   object
 1   attrition                 1678 non-null   object
 2   businesstravel            877 non-null    object
 3   dailyrate                 1678 non-null   float64
 4   department                312 non-null    object
 5   distancefromhome          1678 non-null   int64
 6   education                 1678 non-null   int64
 7   educationfield            904 non-null    object
 8   employeecount             1678 non-null   int64
 9   employeenumber            1678 non-null   int64
 10  environmentsatisfaction   1678 non-null   int64
 11  gender                    1678 non-null   int64
 12  hourlyrate                411 non-null    float64
 13  jobinvolvement            1678 non-null   int64
 14  joblevel                  1678 non-null   int64
 15  jobrole                   1678 non-null   object
 16  jobsatisfaction           1678 non-null   int64
 17  maritalstatus             1003 non-null   object
 18  monthlyincome             1189 non-null   object
 19  monthlyrate               1678 non-null   object
 20  numcompaniesworked        1678 non-null   int64
 21  over18                    740 non-null    object
 22  overtime                  982 non-null    object
 23  percentsalaryhike         1678 non-null   int64
 24  performancerating         1478 non-null   object
 25  relationshipsatisfaction  1678 non-null   int64
 26  standardhours             1327 non-null   object
 27  stockoptionlevel          1678 non-null   int64
 28  totalworkingyears         1129 non-null   object
 29  trainingtimeslastyear     1678 non-null   int64
 30  worklifebalance           1564 non-null   object
 31  yearsatcompany            1678 non-null   int64
 32  yearsincurrentrole        35 non-null     object
 33  yearssincelastpromotion   1678 non-null   int64
 34  yearswithcurrmanager      1678 non-null   int64
 35  sameasmonthlyincome       1189 non-null   object
 36  datebirth                 1678 non-null   int64
 37  salary                    1393 non-null   object
 38  roledepartament           312 non-null    object
 39  numberchildren            0 non-null      float64
 40  remotework                1678 non-null   object
dtypes: float64(3), int64(18), object(20)
memory usage: 550.6+ KB

Tipos de datos por columna:
age                          object
attrition                    object
businesstravel               object
dailyrate                   float64
department                   object
distancefromhome              int64
education                     int64
educationfield               object
employeecount                 int64
employeenumber                int64
environmentsatisfaction       int64
gender                        int64
hourlyrate                  float64
jobinvolvement                int64
joblevel                      int64
jobrole                      object
jobsatisfaction               int64
maritalstatus                object
monthlyincome                object
monthlyrate                  object
numcompaniesworked            int64
over18                       object
overtime                     object
percentsalaryhike             int64
performancerating            object
relationshipsatisfaction      int64
standardhours                object
stockoptionlevel              int64
totalworkingyears            object
trainingtimeslastyear         int64
worklifebalance              object
yearsatcompany                int64
yearsincurrentrole           object
yearssincelastpromotion       int64
yearswithcurrmanager          int64
sameasmonthlyincome          object
datebirth                     int64
salary                       object
roledepartament              object
numberchildren              float64
remotework                   object
dtype: object

Estad√≠sticas num√©ricas:

,count,mean,std,min,25%,50%,75%,max
dailyrate,1678.0,668.079714,470.787298,104.103175,290.035510,556.256661,971.956349,2063.388889
distancefromhome,1678.0,4.504172,14.652066,-49.000000,2.000000,5.000000,11.000000,29.000000
education,1678.0,2.932658,1.024270,1.000000,2.000000,3.000000,4.000000,5.000000
employeecount,1678.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
employeenumber,1678.0,809.859952,467.084867,1.000000,403.250000,813.500000,1215.750000,1614.000000
environmentsatisfaction,1678.0,4.264005,6.912695,1.000000,2.000000,3.000000,4.000000,49.000000
gender,1678.0,0.398689,0.489774,0.000000,0.000000,0.000000,1.000000,1.000000
hourlyrate,411.0,83.140768,57.272101,13.012897,36.254439,69.532083,116.987103,255.963294
jobinvolvement,1678.0,2.740763,0.710359,1.000000,2.000000,3.000000,3.000000,4.000000
joblevel,1678.0,2.064362,1.099425,1.000000,1.000000,2.000000,3.000000,5.000000
jobsatisfaction,1678.0,2.743147,1.105172,1.000000,2.000000,3.000000,4.000000,4.000000
numcompaniesworked,1678.0,2.670441,2.501133,0.000000,1.000000,2.000000,4.000000,9.000000
percentsalaryhike,1678.0,15.154350,3.649607,11.000000,12.000000,14.000000,18.000000,25.000000
relationshipsatisfaction,1678.0,2.700238,1.079494,1.000000,2.000000,3.000000,4.000000,4.000000
stockoptionlevel,1678.0,0.787843,0.843252,0.000000,0.000000,1.000000,1.000000,3.000000
trainingtimeslastyear,1678.0,2.795590,1.288657,0.000000,2.000000,3.000000,3.000000,6.000000
yearsatcompany,1678.0,7.124553,6.173837,0.000000,3.000000,5.000000,9.000000,40.000000
yearssincelastpromotion,1678.0,2.241955,3.246554,0.000000,0.000000,1.000000,3.000000,15.000000
yearswithcurrmanager,1678.0,4.200238,3.554224,0.000000,2.000000,3.000000,7.000000,17.000000
datebirth,1678.0,1986.047080,9.154908,1963.000000,1980.000000,1987.000000,1993.000000,2005.000000
numberchildren,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Estad√≠sticas categ√≥ricas:

,age,attrition,businesstravel,department,educationfield,jobrole,maritalstatus,monthlyincome,monthlyrate,over18,overtime,performancerating,standardhours,totalworkingyears,worklifebalance,yearsincurrentrole,sameasmonthlyincome,salary,roledepartament,remotework
count,1678,1678,877,312,904,1678,1003,1189,1678,740,982,1478,1327,1129,1564,35,1189,1393,312,1678
unique,54,2,3,3,6,1579,5,493,673,1,2,2,2,40,4,10,493,583,301,5
top,35,No,travel_rarely,Research & Development,Life Sciences,mANager,Married,"2342,59$","11681,39$",Y,No,"3,0",Part Time,"10,0","3,0","2,0","2342,59$","53914,11$",Sales exECutIVE - Sales,1
freq,88,1406,616,203,367,5,419,228,326,740,714,1257,927,151,946,12,228,270,2,375

Valores nulos:

                          Conteo  Porcentaje
numberchildren              1678      100.00
yearsincurrentrole          1643       97.91
roledepartament             1366       81.41
department                  1366       81.41
hourlyrate                  1267       75.51
over18                       938       55.90
businesstravel               801       47.74
educationfield               774       46.13
overtime                     696       41.48
maritalstatus                675       40.23
totalworkingyears            549       32.72
monthlyincome                489       29.14
sameasmonthlyincome          489       29.14
standardhours                351       20.92
salary                       285       16.98
performancerating            200       11.92
worklifebalance              114        6.79
employeecount                  0        0.00
education                      0        0.00
distancefromhome               0        0.00
dailyrate                      0        0.00
attrition                      0        0.00
age                            0        0.00
environmentsatisfaction        0        0.00
employeenumber                 0        0.00
percentsalaryhike              0        0.00
numcompaniesworked             0        0.00
monthlyrate                    0        0.00
gender                         0        0.00
jobinvolvement                 0        0.00
joblevel                       0        0.00
jobrole                        0        0.00
jobsatisfaction                0        0.00
yearsatcompany                 0        0.00
trainingtimeslastyear          0        0.00
relationshipsatisfaction       0        0.00
stockoptionlevel               0        0.00
datebirth                      0        0.00
yearswithcurrmanager           0        0.00
yearssincelastpromotion        0        0.00
remotework                     0        0.00

Filas duplicadas: 64

Valores √∫nicos por columna:

employeenumber              1614
jobrole                     1579
monthlyrate                  673
dailyrate                    673
salary                       583
monthlyincome                493
sameasmonthlyincome          493
roledepartament              301
hourlyrate                   194
distancefromhome              69
age                           54
datebirth                     43
totalworkingyears             40
environmentsatisfaction       38
yearsatcompany                37
yearswithcurrmanager          18
yearssincelastpromotion       16
percentsalaryhike             15
numcompaniesworked            10
yearsincurrentrole            10
trainingtimeslastyear          7
educationfield                 6
education                      5
remotework                     5
maritalstatus                  5
joblevel                       5
worklifebalance                4
jobsatisfaction                4
relationshipsatisfaction       4
stockoptionlevel               4
jobinvolvement                 4
department                     3
businesstravel                 3
standardhours                  2
attrition                      2
overtime                       2
gender                         2
performancerating              2
employeecount                  1
over18                         1
numberchildren                 0
dtype: int64

Columna: age

age
35    88
31    88
34    86
29    82
36    79
Name: count, dtype: int64

Columna: attrition

attrition
No     1406
Yes     272
Name: count, dtype: int64

Columna: businesstravel

businesstravel
travel_rarely        616
travel_frequently    168
non-travel            93
Name: count, dtype: int64

Columna: department

department
Research & Development     203
Sales                       93
Human Resources             16
Name: count, dtype: int64

Columna: educationfield

educationfield
Life Sciences       367
Medical             286
Marketing           106
Technical Degree     70
Other                63
Name: count, dtype: int64

Columna: jobrole

jobrole
mANager     5
mAnageR     3
ManagEr     3
mAnaGeR     3
ManageR     3
Name: count, dtype: int64

Columna: maritalstatus

maritalstatus
Married     419
Single      343
Divorced    194
Marreid      36
divorced     11
Name: count, dtype: int64

Columna: monthlyincome

monthlyincome
2342,59$     228
4492,84$     227
8339,32$     105
12783,92$     42
15943,72$     25
Name: count, dtype: int64

Columna: monthlyrate

monthlyrate
11681,39$    326
6090,75$     308
21682,23$    150
33238,20$     55
41453,67$     38
Name: count, dtype: int64

Columna: over18

over18
Y    740
Name: count, dtype: int64

Columna: overtime

overtime
No     714
Yes    268
Name: count, dtype: int64

Columna: performancerating

performancerating
3,0    1257
4,0     221
Name: count, dtype: int64

Columna: standardhours

standardhours
Part Time    927
Full Time    400
Name: count, dtype: int64

Columna: totalworkingyears

totalworkingyears
10,0    151
6,0      88
8,0      86
9,0      71
5,0      68
Name: count, dtype: int64

Columna: worklifebalance

worklifebalance
3,0    946
2,0    374
4,0    162
1,0     82
Name: count, dtype: int64

Columna: yearsincurrentrole

yearsincurrentrole
2,0    12
7,0     5
0,0     4
4,0     3
1,0     3
Name: count, dtype: int64

Columna: sameasmonthlyincome

sameasmonthlyincome
2342,59$     228
4492,84$     227
8339,32$     105
12783,92$     42
15943,72$     25
Name: count, dtype: int64

Columna: salary

salary
53914,11$     270
28111,13$     255
100071,84$    122
153407,07$     45
191324,62$     28
Name: count, dtype: int64

Columna: roledepartament

roledepartament
Sales exECutIVE  -  Sales                                2
humAN resoURCEs  -  Human Resources                      2
labORAtoRy tEcHNICIAN  -  Research & Development         2
hEalthCaRe reprEseNTaTiVe  -  Research & Development     2
LaBoratory TECHnICIAn  -  Research & Development         2
Name: count, dtype: int64

Columna: remotework

remotework
1        375
True     362
False    318
0        318
Yes      305
Name: count, dtype: int64

Resumen general de columnas:

,Columna,Dtype,Valores √∫nicos,% Nulos
age,age,object,54,0.00
attrition,attrition,object,2,0.00
businesstravel,businesstravel,object,3,47.74
dailyrate,dailyrate,float64,673,0.00
department,department,object,3,81.41
distancefromhome,distancefromhome,int64,69,0.00
education,education,int64,5,0.00
educationfield,educationfield,object,6,46.13
employeecount,employeecount,int64,1,0.00
employeenumber,employeenumber,int64,1614,0.00
environmentsatisfaction,environmentsatisfaction,int64,38,0.00
gender,gender,int64,2,0.00
hourlyrate,hourlyrate,float64,194,75.51
jobinvolvement,jobinvolvement,int64,4,0.00
joblevel,joblevel,int64,5,0.00
jobrole,jobrole,object,1579,0.00
jobsatisfaction,jobsatisfaction,int64,4,0.00
maritalstatus,maritalstatus,object,5,40.23
monthlyincome,monthlyincome,object,493,29.14
monthlyrate,monthlyrate,object,673,0.00
numcompaniesworked,numcompaniesworked,int64,10,0.00
over18,over18,object,1,55.90
overtime,overtime,object,2,41.48
percentsalaryhike,percentsalaryhike,int64,15,0.00
performancerating,performancerating,object,2,11.92
relationshipsatisfaction,relationshipsatisfaction,int64,4,0.00
standardhours,standardhours,object,2,20.92
stockoptionlevel,stockoptionlevel,int64,4,0.00
totalworkingyears,totalworkingyears,object,40,32.72
trainingtimeslastyear,trainingtimeslastyear,int64,7,0.00
worklifebalance,worklifebalance,object,4,6.79
yearsatcompany,yearsatcompany,int64,37,0.00
yearsincurrentrole,yearsincurrentrole,object,10,97.91
yearssincelastpromotion,yearssincelastpromotion,int64,16,0.00
yearswithcurrmanager,yearswithcurrmanager,int64,18,0.00
sameasmonthlyincome,sameasmonthlyincome,object,493,29.14
datebirth,datebirth,int64,43,0.00
salary,salary,object,583,16.98
roledepartament,roledepartament,object,301,81.41
numberchildren,numberchildren,float64,0,100.00
remotework,remotework,object,5,0.00

### üóëÔ∏è Plan de eliminaci√≥n de columnas redundantes

üí∞ **monthlyincome, sameasmonthlyincome y salary**  
- üìä Todas parecen expresar ingresos mensuales o anuales en distintas unidades/formatos.  
- üîÅ `sameasmonthlyincome` expl√≠citamente es un duplicado de `monthlyincome`.  
‚úÖ Nos quedamos con **monthlyincome** y **salary**  
‚ùå Eliminamos **sameasmonthlyincome**

---

üè¢ **department, roledepartament y jobrole**  
- ‚ö†Ô∏è `roledepartament` mezcla el rol con el departamento (ejemplo: *Manager - Research & Development*), mientras que `department` y `jobrole` ya lo tienen separado.  
‚úÖ Nos quedamos con **department** y **jobrole**  
‚ùå Eliminamos **roledepartament**  
üí° *M√°s adelante podemos fusionar `department` y `jobrole` si es necesario.*

---

üë• **employeecount y employeenumber**  
- üîÇ `employeecount` es siempre 1 ‚Üí columna in√∫til.  
- üÜî `employeenumber` parece ser solo un identificador √∫nico ‚Üí no aporta al an√°lisis predictivo.  
‚ùå Eliminamos **employeecount**

---

üéÇ **age y datebirth**  
- üìê Son equivalentes: de `datebirth` se puede calcular la edad.  
‚ùå Eliminamos **age**

---

üë∂ **numberchildren**  
- üö´ Est√° completamente vac√≠o (0 valores v√°lidos).  
‚ùå Eliminamos **numberchildren**

In [8]:
# Funci√≥n para eliminar columnas redundantes

def drop_redundant_columns(df_clean):
    cols_to_drop = [
        "sameasmonthlyincome",
        "roledepartament",
        "employeecount",
        "age",
        "numberchildren"
    ]
    
    # Mostrar solo las columnas que existen realmente
    existing_cols = [c for c in cols_to_drop if c in df_clean.columns]
    print("Eliminando columnas:", existing_cols)
    
    # Eliminar columnas existentes
    df_clean = df_clean.drop(columns=existing_cols)
    
    return df_clean

In [9]:
# Ahora eliminar columnas redundantes
df_limpio = drop_redundant_columns(df_limpio)

Eliminando columnas: ['sameasmonthlyincome', 'roledepartament', 'employeecount', 'age', 'numberchildren']

In [10]:
# Mostrar DataFrame limpio final
display(df_limpio.head())

,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,datebirth,salary,remotework
0,No,NaN,2015.722222,NaN,6,3,NaN,1,1,0,NaN,3,5,resEArch DIREcToR,3,NaN,"16280,83$","42330,17$",7,Y,No,13,"3,0",3,Full Time,0,NaN,5,"3,0",20,NaN,15,15,1972,"195370,00$",Yes
1,No,NaN,2063.388889,NaN,1,4,Life Sciences,2,3,0,NaN,2,5,ManAGeR,3,NaN,NaN,"43331,17$",0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,1971,"199990,00$",1
2,No,travel_rarely,1984.253968,Research & Development,4,2,Technical Degree,3,3,0,NaN,3,5,ManaGER,4,Married,NaN,"41669,33$",1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,1981,"192320,00$",1
3,No,travel_rarely,1771.404762,NaN,2,4,Medical,4,1,1,NaN,3,4,ReseArCH DIrECtOr,3,Married,"14307,50$","37199,50$",3,Y,NaN,19,"3,0",2,Full Time,2,NaN,2,NaN,20,NaN,5,6,1976,"171690,00$",False
4,No,NaN,1582.771346,NaN,3,3,Technical Degree,5,1,1,NaN,4,4,sAleS EXECUtIve,1,Divorced,"12783,92$","33238,20$",2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,1977,NaN,0

In [11]:
df_limpio

     attrition     businesstravel    dailyrate                department  \
0           No                NaN  2015.722222                       NaN
1           No                NaN  2063.388889                       NaN
2           No      travel_rarely  1984.253968   Research & Development
3           No      travel_rarely  1771.404762                       NaN
4           No                NaN  1582.771346                       NaN
5           No                NaN  1771.920635   Research & Development
6           No                NaN  1032.487286                       NaN
7           No      travel_rarely   556.256661                       NaN
8           No                NaN  1712.182540                       NaN
9           No  travel_frequently  1973.984127                       NaN
10          No         non-travel  2060.706349                       NaN
11          No      travel_rarely  1382.746032                       NaN
12          No                NaN  1362.523810                       NaN
13         Yes      travel_rarely  2016.547619                       NaN
14          No                NaN  1973.984127                       NaN
15          No      travel_rarely  1861.373016                       NaN
16         Yes      travel_rarely  1985.698413                       NaN
17          No      travel_rarely  1582.771346                       NaN
18          No                NaN   556.256661                       NaN
19          No      travel_rarely  1032.487286                       NaN
20          No         non-travel  1108.920635   Research & Development
21          No                NaN  1032.487286                       NaN
22          No                NaN  1032.487286                       NaN
23          No                NaN  1728.380952                       NaN
24          No      travel_rarely   639.785714                       NaN
25          No                NaN  1032.487286                       NaN
26         Yes                NaN  2047.500000                       NaN
27          No                NaN   556.256661                       NaN
28          No      travel_rarely   556.256661                       NaN
29          No         non-travel   412.801587                    Sales
30          No                NaN  1077.865079                    Sales
31          No                NaN  1032.487286   Research & Development
32          No      travel_rarely  1973.984127                       NaN
33          No                NaN   556.256661                       NaN
34          No      travel_rarely   556.256661                       NaN
35          No      travel_rarely  1032.487286                       NaN
36          No                NaN  1657.396825                       NaN
37          No                NaN   331.190476   Research & Development
38          No  travel_frequently  1059.190476                       NaN
39          No  travel_frequently  1080.753968                       NaN
40          No      travel_rarely   635.761905                       NaN
41          No      travel_rarely   487.087302                       NaN
42          No                NaN  1582.771346                       NaN
43         Yes      travel_rarely   290.035510                       NaN
44          No                NaN   476.150794                       NaN
45          No      travel_rarely   556.256661                       NaN
46          No                NaN  1032.487286                       NaN
47          No                NaN  1749.738095                       NaN
48          No                NaN   290.035510                       NaN
49          No      travel_rarely   556.256661                       NaN
50          No                NaN  1032.487286                       NaN
51          No                NaN  1582.771346                       NaN
52         Yes      travel_rarely  1063.317460                       NaN
53          No                NaN  1973.984127                       NaN
54          No         non-travel   556.256661                       NaN
55          No         non-travel   557.761905                       NaN
56          No                NaN   556.256661                       NaN
57          No                NaN   556.256661                       NaN
58          No      travel_rarely   608.936508                       NaN
59          No                NaN  1119.960317                       NaN
60          No                NaN   610.174603                       NaN
61          No                NaN   556.256661                       NaN
62          No                NaN   685.698413                       NaN
63          No  travel_frequently   556.256661                       NaN
64          No      travel_rarely  1441.658730   Research & Development
65          No      travel_rarely  1032.487286                       NaN
66          No      travel_rarely  1374.285714                    Sales
67          No      travel_rarely   556.256661                       NaN
68          No                NaN   556.256661                       NaN
69          No      travel_rarely   689.928571                       NaN
70          No         non-travel   556.256661   Research & Development
71          No                NaN  1032.487286                       NaN
72          No                NaN  1582.771346                       NaN
73          No  travel_frequently   488.531746                       NaN
74          No                NaN   290.035510                       NaN
75          No      travel_rarely  1032.487286                       NaN
76          No                NaN   556.256661   Research & Development
77          No      travel_rarely  1032.487286                       NaN
78          No                NaN   556.256661                       NaN
79          No      travel_rarely  1431.238095                       NaN
80          No      travel_rarely  1032.487286                       NaN
81         Yes      travel_rarely  1032.487286                       NaN
82          No                NaN  1032.487286                       NaN
83          No  travel_frequently  1032.487286                       NaN
84          No      travel_rarely  1964.960317                       NaN
85          No                NaN  1652.341270                       NaN
86          No      travel_rarely   991.817460   Research & Development
87          No                NaN  1187.539683                       NaN
88          No                NaN  1582.771346                       NaN
89          No                NaN   444.269841                       NaN
90          No      travel_rarely  1758.714286   Research & Development
91          No                NaN  1032.487286                       NaN
92          No                NaN   522.785714                       NaN
93          No                NaN  1032.487286   Research & Development
94          No      travel_rarely  1032.487286                       NaN
95          No                NaN   556.256661                    Sales
96          No                NaN   290.035510   Research & Development
97          No  travel_frequently   380.920635                       NaN
98         Yes                NaN  1973.984127                       NaN
99          No  travel_frequently  2047.706349                       NaN
100         No      travel_rarely   238.126984                       NaN
101         No      travel_rarely  1582.771346   Research & Development
102         No                NaN   556.256661                       NaN
103         No                NaN   290.035510                       NaN
104         No                NaN  1973.984127                       NaN
105         No                NaN   592.944444   Research & Development
106         No      travel_rarely  1075.285714                       NaN
107         No      travel_rarely  1032.487286                       NaN
108         No                NaN  1032.487286                       NaN
109         No                NaN   654.849206          Human Resources
110         No                NaN   242.253968                       NaN
111         No      travel_rarely  1032.487286                       NaN
112         No                NaN   316.952381                       NaN
113         No  travel_frequently   556.256661                       NaN
114         No      travel_rarely  1288.650794                       NaN
115         No                NaN   556.256661                       NaN
116         No      travel_rarely   827.460317                       NaN
117         No  travel_frequently  1032.487286                       NaN
118         No                NaN  1760.984127                       NaN
119         No                NaN   922.690476                       NaN
120         No                NaN  1988.380952   Research & Development
121         No      travel_rarely   556.256661                       NaN
122         No      travel_rarely   556.256661                    Sales
123         No                NaN  1032.487286                       NaN
124         No                NaN  1032.487286                       NaN
125         No      travel_rarely  1032.487286                       NaN
126         No      travel_rarely  1582.771346                       NaN
127         No                NaN   556.256661                       NaN
128         No      travel_rarely  1032.487286                       NaN
129         No      travel_rarely   575.404762                       NaN
130         No                NaN  1973.984127                       NaN
131         No      travel_rarely   277.642857   Research & Development
132        Yes      travel_rarely   290.035510                       NaN
133         No                NaN  1032.487286   Research & Development
134         No      travel_rarely  1582.771346                       NaN
135         No      travel_rarely   763.801587                       NaN
136         No                NaN  1032.487286                       NaN
137         No      travel_rarely   910.309524                       NaN
138         No                NaN  1582.771346                    Sales
139         No         non-travel   556.256661                       NaN
140        Yes  travel_frequently  1582.771346                       NaN
141         No  travel_frequently   556.256661                       NaN
142         No      travel_rarely   369.261905   Research & Development
143         No      travel_rarely  1834.341270                       NaN
144         No      travel_rarely   556.256661                       NaN
145         No                NaN  1879.119048                       NaN
146         No         non-travel  1400.801587                       NaN
147         No      travel_rarely  1979.920635                       NaN
148         No  travel_frequently   556.256661          Human Resources
149         No                NaN  1766.658730                       NaN
150         No      travel_rarely  1979.611111                       NaN
151         No                NaN  1582.771346                       NaN
152        Yes                NaN  1032.571429                       NaN
153         No                NaN  1032.487286                       NaN
154         No      travel_rarely   824.158730          Human Resources
155         No                NaN   556.256661                       NaN
156         No  travel_frequently   290.035510                       NaN
157         No      travel_rarely   556.256661                       NaN
158        Yes      travel_rarely   556.256661                       NaN
159         No  travel_frequently  1582.771346                       NaN
160         No      travel_rarely   730.785714                       NaN
161         No                NaN   487.293651                       NaN
162         No      travel_rarely   351.515873                       NaN
163        Yes                NaN   556.256661                       NaN
164         No      travel_rarely   302.198413                       NaN
165         No                NaN   556.256661                       NaN
166         No         non-travel  1582.771346                       NaN
167         No      travel_rarely   556.256661                    Sales
168         No      travel_rarely  1032.487286                       NaN
169         No                NaN  1973.984127                       NaN
170         No                NaN   556.256661   Research & Development
171         No                NaN   556.256661                       NaN
172        Yes                NaN   290.035510   Research & Development
173         No      travel_rarely  1241.293651                       NaN
174         No      travel_rarely  1591.674603                       NaN
175         No  travel_frequently  1032.487286                       NaN
176         No  travel_frequently   556.256661                       NaN
177         No                NaN  1032.487286                       NaN
178         No      travel_rarely   635.761905   Research & Development
179         No      travel_rarely   528.873016                       NaN
180        Yes                NaN   992.436508                    Sales
181         No      travel_rarely   556.256661                       NaN
182         No                NaN   516.904762                       NaN
183         No      travel_rarely  1032.487286                       NaN
184         No                NaN  1032.487286                       NaN
185         No      travel_rarely   290.035510   Research & Development
186         No      travel_rarely  1963.722222                       NaN
187         No                NaN  1582.771346                       NaN
188        Yes      travel_rarely  1073.015873                       NaN
189         No         non-travel  1032.487286   Research & Development
190         No                NaN  1032.487286                       NaN
191         No                NaN   288.166667                       NaN
192         No                NaN   556.256661                       NaN
193         No         non-travel   585.412698                       NaN
194         No      travel_rarely   556.256661                       NaN
195         No                NaN  1032.487286                       NaN
196         No      travel_rarely   556.256661                       NaN
197         No                NaN  1980.642857                       NaN
198         No                NaN  1973.984127                       NaN
199         No                NaN   867.904762                       NaN
200         No      travel_rarely  1032.487286   Research & Development
201        Yes                NaN   345.428571                       NaN
202         No                NaN   290.035510                       NaN
203         No                NaN   547.753968   Research & Development
204         No                NaN   556.256661                       NaN
205        Yes                NaN   789.698413                    Sales
206         No                NaN  1321.460317                       NaN
207         No      travel_rarely   556.256661                       NaN
208         No                NaN  1582.771346   Research & Development
209         No                NaN   556.256661                       NaN
210         No                NaN   679.507937                       NaN
211         No         non-travel   556.256661                    Sales
212         No      travel_rarely   259.896825                       NaN
213         No                NaN  1764.182540                       NaN
214         No         non-travel  1582.771346                       NaN
215         No         non-travel   556.256661                       NaN
216         No      travel_rarely  1032.487286   Research & Development
217         No                NaN  1353.650794                       NaN
218        Yes                NaN  1032.487286                       NaN
219         No                NaN   323.039683                       NaN
220         No                NaN   556.256661   Research & Development
221         No      travel_rarely  1032.487286                       NaN
222         No  travel_frequently   458.507937                       NaN
223         No         non-travel   688.587302                       NaN
224         No         non-travel  1016.476190                       NaN
225         No         non-travel  1842.801587                       NaN
226         No      travel_rarely   556.256661                       NaN
227         No                NaN   556.256661                       NaN
228         No      travel_rarely  1973.984127                       NaN
229        Yes  travel_frequently   768.238095                       NaN
230         No         non-travel  1419.373016                       NaN
231         No                NaN  1712.492063                       NaN
232         No                NaN  1582.771346   Research & Development
233         No      travel_rarely  1032.487286                       NaN
234         No                NaN   442.103175                       NaN
235         No  travel_frequently  1044.539683                       NaN
236         No                NaN  1032.487286                       NaN
237        Yes      travel_rarely  1002.238095                       NaN
238         No      travel_rarely  1023.904762                       NaN
239         No                NaN  1160.198413                       NaN
240         No      travel_rarely   316.642857                       NaN
241         No      travel_rarely   556.256661                       NaN
242         No      travel_rarely  1582.771346   Research & Development
243         No      travel_rarely   953.436508                       NaN
244         No                NaN   667.746032                       NaN
245         No      travel_rarely  1973.984127                       NaN
246         No                NaN   315.198413                       NaN
247         No                NaN   858.515873                       NaN
248         No                NaN   324.277778                       NaN
249         No      travel_rarely   556.256661                       NaN
250         No  travel_frequently   290.035510   Research & Development
251         No      travel_rarely   885.031746                       NaN
252         No      travel_rarely   556.256661                       NaN
253         No                NaN   433.023810                       NaN
254         No      travel_rarely   556.256661   Research & Development
255         No      travel_rarely  1020.190476                       NaN
256         No                NaN   556.256661   Research & Development
257         No                NaN   556.256661                       NaN
258         No      travel_rarely  1376.452381                       NaN
259         No      travel_rarely   585.722222                       NaN
260         No      travel_rarely   290.035510                       NaN
261         No                NaN  1032.487286   Research & Development
262         No         non-travel   290.035510                       NaN
263         No  travel_frequently   556.256661                       NaN
264         No  travel_frequently   300.134921                       NaN
265         No                NaN   290.035510                       NaN
266         No  travel_frequently   982.841270   Research & Development
267         No      travel_rarely   556.256661   Research & Development
268         No                NaN   704.166667                       NaN
269         No                NaN   556.256661   Research & Development
270         No      travel_rarely   456.444444                       NaN
271         No                NaN   561.373016                       NaN
272        Yes  travel_frequently   626.682540                       NaN

### ‚ú® Plan de normalizaci√≥n y limpieza de columnas

üñ•Ô∏è **Columna `remotework`**  
- üîÑ Normalizar valores a `yes` / `no`.

---

üë´ **Columna `gender`**  
- üîÑ Normalizar valores a `M` / `F`.

---

üî§ **Columnas categ√≥ricas (texto)**  
- üìù Corregir fallos tipogr√°ficos (ejemplo: combinaci√≥n de may√∫sculas y min√∫sculas).  
- üî† Capitalizar la primera letra de cada valor.  
- ‚öôÔ∏è Implementar una funci√≥n que recorra todas las columnas categ√≥ricas para normalizar texto.

---

üî¢ **Columnas num√©ricas**  
- üîß Corregir fallos tipogr√°ficos:  
  - ‚û°Ô∏è Reemplazar `,` por `.` en valores num√©ricos.  
  - üéØ Redondear decimales a 2 d√≠gitos.  
- ‚öôÔ∏è Implementar una funci√≥n que recorra todas las columnas num√©ricas y normalice sus valores.

---

üìè **Columna `distancefromhome`**  
- üîÑ Convertir valores negativos a valor absoluto.

---

üîç **Detecci√≥n y correcci√≥n de valores mal escritos en categ√≥ricas**  
- üëÄ Identificar valores con `unique()` durante el EDA.  
- ‚úèÔ∏è Reemplazar cada error con la palabra correctamente escrita.  
  - Ejemplo: `marreid` ‚Üí `married`.

---

üè∑Ô∏è **Nombres de columnas**  
- ‚ú® Renombrar y normalizar: todas las columnas con formato `.title`.  
  - Ejemplo: `distancefromhome` ‚Üí `Distancefromhome`.

***Una funcioncilla para ver cosas***

In [ ]:
# FUNCI√ìN PARA ELIMINAR DUPLICADOS
# MANTIENE LA PRIMERA APARICI√ìN Y BORRA LAS DEM√ÅS FILAS REPETIDAS
# ELIMINAR DUPLICADOS PORQUE INFLAN MUCHO LOS RESULTADOS

def remove_duplicates(df):
    """
    Elimina filas duplicadas de un DataFrame manteniendo la primera aparici√≥n.

    Par√°metros:
    df (pd.DataFrame): DataFrame de entrada.

    Retorna:
    pd.DataFrame: DataFrame sin duplicados.
    """
    filas_iniciales = len(df)
    df_sin_duplicados = df.drop_duplicates(keep="first")
    filas_finales = len(df_sin_duplicados)
    print(f"Se eliminaron {filas_iniciales - filas_finales} filas duplicadas")
    return df_sin_duplicados

In [ ]:
df_clean = remove_duplicates(df_clean)

In [ ]:
# FUNCI√ìN QUE DETECTA COLUMNAS QUE EST√ÅN EN FORMATO STRING PERO CONTIENEN VALORES NUM√âRICOS Y
# LAS CONVIERTE A TIPO NUM√âRICO
def convert_numeric_columns(df):
    """
    Detecta columnas que est√°n en formato string pero contienen valores num√©ricos
    y las convierte autom√°ticamente a tipo num√©rico.

    Par√°metros:
    df (pd.DataFrame): DataFrame de entrada.

    Retorna:
    pd.DataFrame: DataFrame con las columnas convertidas a num√©ricas.
    """
    for col in df.columns:
        if df[col].dtype == "object":  # posibles columnas mal cargadas
            try:
                df[col] = pd.to_numeric(df[col], errors="coerce")
            except Exception:
                pass  # si no se puede convertir, la deja como est√°
    return df

In [ ]:
df_clean = convert_numeric_columns(df_clean)


En esta parte:
- Quitamos espacios extra en columnas de texto.  
- Organizamos un poco mejor los nombres de roles y departamentos.  
- Creamos columnas nuevas para analizar la antig√ºedad (que agrupa a los empleados seg√∫n los a√±os en la empresa. Esto es √∫til porque no es lo mismo alguien que lleva 1 a√±o que alguien que lleva 20. ) y el teletrabajo (para indicar con un 1 si la persona trabaja en remoto y 0 si no.)

In [ ]:
# LIMPIEZA DE DATOS 

import pandas as pd

# 1. Cargo el dataset original
df = pd.read_csv("ABC_data.csv", index_col=0)

# 2. Hago una copia para trabajar sin tocar el original
df_copy = df.copy()

# 3. Limpio columnas de texto (jobrole y department)
#    - Quito espacios extra
#    - Pongo formato con may√∫scula inicial
df_copy["jobrole"] = df_copy["jobrole"].str.strip().str.title()
df_copy["department"] = df_copy["department"].str.strip().str.title()

# 4. Creo una nueva columna de antig√ºedad agrupada (TenureGroup)
#    Agrupo los a√±os en la empresa en intervalos (0-2, 3-5, 6-10, etc.)
bins = [0,2,5,10,20,40]                        # l√≠mites de los grupos
labels = ["0-2","3-5","6-10","11-20","20+"]    # nombres de los grupos
df_copy["TenureGroup"] = pd.cut(df_copy["yearsatcompany"], 
                                bins=bins, labels=labels, include_lowest=True)

# 5. Creo una nueva columna para teletrabajo (RemoteWork_flag)
#    Si la persona trabaja en remoto ‚Üí 1, si no ‚Üí 0
df_copy["RemoteWork_flag"] = df_copy["remotework"].astype(str).str.lower().isin(["yes","1","true"]).astype(int)

# 6. Muestro las primeras filas para comprobar la limpieza
df_copy.head()

In [ ]:

attrition_by_tenure = df_copy.groupby("TenureGroup")["attrition"].apply(lambda x: (x=="Yes").mean())
print(attrition_by_tenure)

In [ ]:
attrition_by_remote = df_copy.groupby("RemoteWork_flag")["attrition"].apply(lambda x: (x=="Yes").mean())
print(attrition_by_remote)

In [ ]:
pip install matplotlib

In [ ]:

# VISUALIZACIONES


import matplotlib.pyplot as plt   # üëà esto es lo que faltaba

# 1. Attrition por TenureGroup
attrition_by_tenure = df_copy.groupby("TenureGroup")["attrition"].apply(lambda x: (x=="Yes").mean())

attrition_by_tenure.plot(kind="bar", title="Attrition por antig√ºedad (TenureGroup)")
plt.ylabel("Tasa de attrition")
plt.show()

# 2. Attrition por RemoteWork_flag
attrition_by_remote = df_copy.groupby("RemoteWork_flag")["attrition"].apply(lambda x: (x=="Yes").mean())

attrition_by_remote.plot(kind="bar", title="Attrition por teletrabajo (0 = No, 1 = S√≠)")
plt.ylabel("Tasa de attrition")
plt.show()


- La **antig√ºedad en la empresa** influye bastante en el abandono:  
  los empleados m√°s nuevos (0-2 a√±os) tienen m√°s probabilidad de irse, mientras que quienes llevan m√°s a√±os tienden a quedarse.  

- El **teletrabajo** tambi√©n marca una diferencia:  
  hay variaciones claras en la tasa de abandono entre quienes trabajan remoto y quienes no.  

Esto es solo un primer an√°lisis, pero ya da pistas de factores importantes para estudiar m√°s a fondo.